// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* topページのlogoの背景画像 */
.top_image {
  position: relative;
  with: 100%;
  height: 500px;
  background-image: image-url("top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* topページのlogo画像 */
.top_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
}

/* aboutページのタイトル背景画像 */
.about_image {
  position: relative;
  with: 100%;
  height: 350px;
  background-image: image-url("about.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* aboutページのタイトル */
.about {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 30pt;
  color: #2e8b57;
}

/* aboutページの作品投稿機能画像 */
.post {
  position: relative;
  margin-top: 80px;
  background-image: image-url("about-01.png");
  background-repeat: no-repeat;
  background-size: contain;
  with: 100%;
  height: 150px;
}

/* aboutページの材料管理機能画像 */
.material {
  position: relative;
  margin-top: 50px;
  background-image: image-url("about-02.png");
  background-repeat: no-repeat;
  background-size: contain;
  with: 100%;
  height: 150px;
}

/* aboutページ機能説明テキスト */
.explanation {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(0%, -50%);
}

/* topページのlogo画像の幅（mobile画面) */
@media screen and (max-width:425px) {
  .top_image {
    height: 290px;
  }
  .top_logo {
    width: 90%;
  }
  .about_image {
    height: 300px;
  }
  .material {
    margin-top: 70px;
  }
  .explanation-bg {
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
  }
}