<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>フォロー一覧</h2>
      <% if @members.exists? %>
        <%= render 'public/members/index', members: @members %>
      <% else %>
       <h5 class="mt-5">フォローしている会員はいません</h5>
      <% end %>
    </div>
  </div>
</div>