<div class="about_image">
  <h1 class="about">Makers Squareについて</h1>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <p class="mt-4">Makers Squareはハンドメイドや手作りを趣味とする人のための作品共有サイトです。</p>
      <p>自分の作品を投稿したり、他の人が投稿したステキな作品に出会うことができる場所です。</p>
      <p class="mt-5">Makers Squareという名前には作り手(Makers)が集まり、</p>
      <p>お互いの作品を披露し合う広場(Square)という意味をこめています。</p>

      <div class="post">
        <div class="explanation-bg">
          <div class="explanation">
            <h3>作品投稿機能</h3>
            <p>自分が作った作品を投稿することができます。</p>
            <p>他の人が投稿した作品を探したり、コメントすることができます。</p>
          </div>
        </div>
      </div>
      <div class="material">
        <div class="explanation-bg">
          <div class="explanation">
            <h3>材料管理機能</h3>
            <p>作品作りに使う材料を登録し、管理することができます。</p>
            <p>どこで買ったのか、値段はいくらだったかなどを記録することができます。</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>