/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
  color: #696969;
}

a:hover{
  color : #008000;
  text-decoration: none;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 160px;
  box-sizing: border-box;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* フッターのdiv[トップへ戻る] */
.footer-toplink {
  height: 40px;
  margin-top: 50px;
  background-color: #9acd32;
}

/* トップへ戻るリンクの文字色*/
.back-top {
  color: white;
}

/* フッターのdiv[コピーライト] */
.footer-copyright {
  height: 70px;
}

.card-image {
  position: relative;
}

/* カードで表示している時のいいねボタン */
.index-favorite-btn {
  position: absolute;
  bottom: 3px;
  right: 10px;
  border-radius: 50%;
  background-color: white;
  width: 30px;
  height: 30px;
  box-shadow: 2px 2px 4px gray;
}

.card {
  box-shadow: 2px 2px 5px #d3d3d3;
}

/* cardで表示している画像 */
.index-image {
  height: 200px;
  background-size: cover;
}

.meterial-image {
  height: 60px;
  width: 70px;
  background-size: cover;
}
