<!-- redirect_toとflashでのエラーメッセージ -->
<% if flash[:danger] %>
  <% flash.each do |message_type, messages| %>
    <div class="alert alert-<%= message_type %>">
      <h5><%= messages.count %>件のエラーが発生しました</h5>
      <ul>
        <% messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
<% end %>