<footer>
  <div class="footer-toplink d-flex align-items-center justify-content-center">
    <%= link_to "トップへ戻る", "#top", class: "back-top" %>
  </div>
  <div class="footer-copyright d-flex align-items-center justify-content-center bg-success">
    <p class="text-white">© 2022 Emiri Maegawa</p>
  </div>
</footer>